<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <category>
        <id_parent>{{ parentId }}</id_parent>
        <active>1</active>
        <id_shop_default>1</id_shop_default>
        <is_root_category>0</is_root_category>
        <position/>
        <xebook_code>{{ code }}</xebook_code>
        <name>
            <language id="1">{{ nameInSpanish }}</language>
            <language id="3">{{ nameInGalician }}</language>
            <language id="5">{{ nameInEnglish }}</language>
        </name>
        <link_rewrite>
            <language id="1">{{ linkRewriteInSpanish }}</language>
            <language id="3">{{ linkRewriteInGalician }}</language>
            <language id="5">{{ linkRewriteInEnglish }}</language>
        </link_rewrite>
        <description>
            <language id="1">{{ descriptionInSpanish }}</language>
            <language id="3">{{ descriptionInGalician }}</language>
            <language id="5">{{ descriptionInEnglish }}</language>
        </description>
        <meta_title>
            <language id="1">{{ nameInSpanish }}</language>
            <language id="3">{{ nameInGalician }}</language>
            <language id="5">{{ nameInEnglish }}</language>
        </meta_title>
        <meta_description>
            <language id="1">{{ metaDescriptionInSpanish }}</language>
            <language id="3">{{ metaDescriptionInGalician }}</language>
            <language id="5">{{ metaDescriptionInEnglish }}</language>
        </meta_description>
        <meta_keywords>
            <language id="1">{{ metaKeywordsInSpanish }}</language>
            <language id="3">{{ metaKeywordsInGalician }}</language>
            <language id="5">{{ metaKeywordsInEnglish }}</language>
        </meta_keywords>
    </category>
</prestashop>
