<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <product_feature_value>
        <id></id>
        <id_feature></id_feature>
        <custom></custom>
        <xebook_code></xebook_code>
        <value>
            <language id="1"></language>
            <language id="3"></language>
            <language id="5"></language>
        </value>
    </product_feature_value>
</prestashop>
